# Java / Maven
target/
*.class
*.log
*.jar
*.war
*.iml

# Maven wrapper cache
.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Sistema
.DS_Store
Thumbs.db
